:root,
::before,
::after {
  /* SLIDER-COLORS */
  --eik-slider-primary-color: rgb(23, 78, 13);
  --eik-slider-light-color: rgba(23, 78, 13, 0.2);

  /* SLIDER */
  --eik-slider-width: 100%;
  --eik-slider-height: 40vh;
  --eik-slider-padding: 0 0;
  --eik-slider-margin: 2rem 0;
  --eik-slider-bg-color: none;
  /* SINGLE SLIDE */
  --eik-slide-width: 75vw;
  --eik-slide-padding: 0;
  --eik-slide-margin-x: 2rem;
  --eik-slide-margin-y: 0;
  --eik-slide-gap: 0.5rem;
  --eik-slide-bg-color: none;
  /* PREV/NEXT BUTTON */
  --eik-slider-arrow-size: 8rem;
  --eik-slider-arrow-color: var(--eik-slider-primary-color);
  /* TITLE */
  --eik-slide-title-size: 1.1rem;
  --eik-slide-title-weight: inherit;
  --eik-slide-title-color: var(--eik-slider-primary-color);
  /* TEXT */
  --eik-slide-text-size: 0.9rem;
  --eik-slide-text-weight: inherit;
  --eik-slide-text-color: var(--eik-slider-primary-color);
  --eik-slide-textblock-line-height: 1.2;
  --eik-slide-text-h1-display: none; /* display property for h1 from the_content() */
  /* "MEHR INFO" - BUTTON */
  --eik-slide-btn-height: 2rem;
  --eik-slide-btn-width: 8rem;
  --eik-slide-btn-color: var(--eik-slider-primary-color);
}

.eik-slider-section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eik-slider-section {
  overflow-x: hidden;
  width: var(--eik-slider-width);
  margin: 0 auto;
}

.eik-slider > .slick-arrow {
  color: var(--eik-slider-arrow-color);
  font-size: var(--eik-slider-arrow-size);
  background: none;
  border: none;
  opacity: 0.15;
  outline: none;
}

.eik-arrow-btn.prev-slide {
  position: absolute;
  top: calc(var(--eik-slider-height) / 2 + var(--eik-slide-title-size));
  transform: translate(20%, -20%);
  left: 0%;
  z-index: 2;
}

.eik-arrow-btn.next-slide {
  position: absolute;

  top: calc(var(--eik-slider-height) / 2 + 1 * var(--eik-slide-title-size));
  transform: translate(-20%, -20%);
  right: 0%;
  z-index: 2;
}

.eik-slider {
  background-color: var(--eik-slider-bg-color);
  padding: var(--eik-slider-padding);
  margin: var(--eik-slider-margin);
}

.eik-slider::before {
  content: '';
  position: absolute;
  width: calc(
    (var(--eik-slider-width) - var(--eik-slide-width)) / 2 -
      var(--eik-slide-margin-x) * 2
  );
  height: 100%;
  z-index: 1;

  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.eik-slider::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(
    (var(--eik-slider-width) - var(--eik-slide-width)) / 2 -
      var(--eik-slide-margin-x) * 2
  );
  height: 100%;
  z-index: 1;

  background: -moz-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.eik-slider > .slick-list {
  overflow: visible;
}

.eik-slide-wrapper {
  height: var(--eik-slider-height);
}

.eik-slide {
  width: var(--eik-slide-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: var(--eik-slide-padding);
  margin: var(--eik-slide-margin-y) var(--eik-slide-margin-x);
  background-color: var(--eik-slide-bg-color);
}

.eik-slide-img {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 30px;

  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%);
}

.eik-slide-textblock > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.eik-slide-textblock-title {
  font-size: var(--eik-slide-title-size);
  font-weight: var(--eik-slide-title-weight);
  color: var(--eik-slide-title-color);
}

.eik-slide-textblock {
  display: flex;
  flex-direction: column;
  height: calc(var(--eik-slider-height) - var(--eik-slide-width) / (16 / 9));
}

.eik-slide-textblock-text {
  overflow: hidden;
}

.eik-slide-textblock-text > p,
.eik-slide-textblock-text > ul > li {
  font-size: var(--eik-slide-text-size);
  font-weight: var(--eik-slide-text-weight);
  color: var(--eik-slide-text-color);
  line-height: var(--eik-slide-textblock-line-height);
  margin-bottom: 1.2em;
}

.eik-slide-textblock-text > h1 {
  display: var(--eik-slide-text-h1-display);
}

.eik-slide-textblock::after {
  content: '';
  position: absolute;
  width: var(--eik-slide-width);
  height: 2.5em;
  bottom: var(--eik-slide-btn-height);
  left: 0;

  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.eik-slide-textblock-text > p {
  width: 100%;
}

.eik-slide-textblock-btn {
  text-decoration: none;
  color: var(--eik-slide-btn-color);
  border-style: solid;
  border-radius: 20px;
  border-color: var(--eik-slide-btn-color);
  border-width: 2px;
  font-size: var(--eik-slide-text-size);
  padding: 0.2em 0.3em;
  /* margin: 4px; */
  width:var(--eik-slide-btn-width)

  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);
}

.eik-slide-textblock-btn:hover {
  margin: 0;

  background-color: var(--eik-slider-light-color);
}

.eik-slide-textblock-btn:focus {
  color: white;
  background-color: var(--eik-slide-btn-color);
}

@media only screen and (min-width: 400px) {
  :root,
  ::before,
  ::after {
    --eik-slider-height: 50vh;
    --eik-slide-width: 83vw;
  }
}

@media only screen and (min-width: 500px) {
  :root,
  ::before,
  ::after {
    --eik-slider-height: 25vh;
    --eik-slider-arrow-size: 3rem;
  }

  .eik-slider > .slick-arrow {
    opacity: 1;
  }

  .eik-arrow-btn.prev-slide {
    top: 50%;
    transform: translate(0%, -50%);
    left: calc(
      (var(--eik-slider-width) - var(--eik-slide-width)) / 2 -
        var(--eik-slide-margin-x)
    );
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
  }

  .eik-arrow-btn.next-slide {
    top: 50%;
    transform: translate(0%, -50%);
    right: calc(
      (var(--eik-slider-width) - var(--eik-slide-width)) / 2 -
        var(--eik-slide-margin-x)
    );
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
  }

  .eik-slide {
    flex-direction: row;
  }

  .eik-slide-img {
    max-height: 100%;
    max-width: 50%;
  }

  .eik-slide-textblock-text::after {
    width: calc(0.5 * var(--eik-slide-width) + 1rem);
    height: 51%;
    bottom: calc(var(--eik-slide-btn-height) + 0.15rem);
  }
}
@media only screen and (min-width: 750px) {
  :root,
  ::before,
  ::after {
    --eik-slide-padding: 0 2rem;
  }
}
/* Wird hier der Wert geändert, muss auch im JS (eik-slider.js) der breakpint für den slick slider geändert werden! */
@media only screen and (min-width: 1200px) {
  :root,
  ::before,
  ::after {
    --eik-slider-height: 28vh;
    --eik-slide-width: 45vw;
    --eik-slide-padding: 0 0rem;
  }

  .eik-arrow-btn.prev-slide {
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
  }

  .eik-arrow-btn.next-slide {
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
  }

  .eik-slide-textblock-text::after {
    width: calc(0.25 * var(--eik-slide-width));
  }
}

@media only screen and (min-width: 1200px) {
  :root,
  ::before,
  ::after {
    --eik-slide-width: 40vw;
  }
}

@media only screen and (min-width: 1400px) {
  :root,
  ::before,
  ::after {
    --eik-slide-text-size: 1.1rem;
  }
}
